<div class="container">
    <div class="welcome-bg">
        <div class="col-md-12 " style="text-align: center;">
            <div class="align-items-center fs-3 fw-bold display-1">{{welcomeMessage}}</div>
        </div>
        <div class="col-md-12">
            <p class="p-5">Angular is a robust front-end JavaScript framework that is widely used for app development. With the increased popularity, there is a high demand for Angular developers.</p>
        </div>
        <div class="col-md-12">
            <span class="fs-4 fw-bold p-5 ">Rules</span>
        </div>
        <div class="col-md-12 p-5">
            <ol>
                <li>10 Questions & each have 4 multiple choice answers to select.</li>
                <li>Time allocated to answer each question is 30 sec</li>
                <li>Without answering a question you can’t proceed further</li>
                <li>However if within 30 sec If you can’t answer the question get skipped to the next available question</li>
            </ol>
        </div>
        <div class="col-md-12 text-center">
            <input type="button" class="btn btn-primary" value="Register" (click)="goToRegistration()">
        </div>
    </div>
</div>